<% @character.each do |character| %>

  <div><%= link_to "#{character.name}, Created by: #{character.user.name}", character_show_path(character) %></div>
<% end %>

<p><%= link_to 'New Character', new_character_path %></p>