@import 'bootstrap';
@import 'gritter';

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: #f7f7f7;
}

@media (min-width: 40em) {
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 62em) {
  .cover-container {
    width: 65rem;
  }
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #dadada;
  text-align: center;

}

.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  }

.inner {
  padding: 2rem;
}

.cover-container {
  margin-top: 5rem;
  margin-right: auto;
  margin-left: auto;
}

.cover {
  padding: 0 1.5rem;
  position: relative;
}

.site-wrapper-inner {
    vertical-align: middle;
  }

.main-page {
  position: relative;
  padding-top: 50px;
  text-align: center;
  margin-top: 5rem;
}

.data-meta {
  color: #999;
  font-size: .8em;
  font-style: italic;
  
}

.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 2rem;
  border-radius: 5px;
  background-color: #fff;
}

.card {
  float: left;
  width: 100%;
  padding: .75rem;
  margin-bottom: 2rem;
  
}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 85%;
}

.pop-link {
  color: black;
  text-decoration: none;
}

.stat > .card {
  border: 1px solid grey;
}

.stat-item {
  display: inline-block;
  width: 30%;
  margin: 10px;
}
.stat-box {
  width: 150px;
  display: inline-block;
  margin: 10px;
}

.small-box {
  width: 80px;
}

.card-block {
  color: black;
  text-align: left;
  padding: 20px;
}

.auth-links a {
  color: black;
}

.register-text {
  text-align: right;
}

.login > .card {
  width: 22rem;
  margin: 0 auto;
  float: none;
  padding: 20px;
}


